.div {
    display: block;
}

body {
    background: #6480b8;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
    line-height: 1.154;
    font-weight: 400;
}

nav {
    width: 121px;
    float: left;
    font-size: 13px;
    padding-right: 15px;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
}

.page_photo {
    padding: 15px;
    font-size: 12.5px;
}
.page_block {
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
}

.narrow_column_wrap {
    position: relative;
    /* padding: 10px; */
    float: left;
    margin-left: 15px;
}
.page_avatar_img {
    width: 200px;
    height: 300px;
}

.round_page_avatar_img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: chartreuse;
}

.wide_column {
    width: 500px;
    float: right;
}

.page_layout {
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    width: 890px;
}

h1.page_name {
    font-size: 18px;
    font-weight: 400;
}

.page_info {
    padding: 15px 20px;
}

.profile_info {
    padding-top: 10px;
}

.profile_info .label {
    width: 165px;
    float: left;
}

.profile_info_row {
    padding-top: 5px;
}
.page_top {
    border-bottom: 1px solid #e7e8ec;
}
